@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-from-left {
  animation-name: slideFromLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
